<div class="card">
  <div class="card-header text-center">
    <h3>Welcome to Client List</h3>
    <div [hidden]="signUp">Please sign in to continue </div>
    <div [hidden]="!signUp">Please sign up to continue </div>
    <div class=" text-muted btn btn-light" (click)="signUp = !signUp" style="cursor: pointer;">
      <span [hidden]="!signUp">(or Sign In)</span>
      <span [hidden]="signUp">(or Sign Up)</span>
    </div>
  </div>
  <div class="card-body">
    <!--Sign Up Form-->
    <div [hidden]="!signUp">
      <form (ngSubmit)="onSignup(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Please provide an email</label>
          <input type="email" class="form-control" placeholder="Enter email" id="signup_email" name="signup_email"
            ngModel>
        </div>
        <div class="form-group">
          <label for="password">Please choose a password</label>
          <input type="password" class="form-control" placeholder="Password" id="signup_password" name="signup_password"
            ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <!--Sign In Form-->
    <div [hidden]="signUp">
      <form (ngSubmit)="onSignin(g)" #g="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email" name="email" ngModel>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" id="password" name="password" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
    </div>
  </div>
  <div class="card-footer text-muted text-right">
    Created by Michael Almpertis
  </div>
</div>