<div class="card">
  <div class="card-header text-center">
    <h5 class="card-title">Michael Almpertis</h5>
    <h6 class="card-subtitle mb-2 text-muted">Front-End Developer</h6>
  </div>
  <table class="table">
    <tr>
      <th>Birthday:</th>
      <td>14th August 1992</td>
    </tr>
    <tr>
      <th>Military Obligations:</th>
      <td>Completed</td>
    </tr>
    <tr>
      <th>Address:</th>
      <td>Omiridou 86, 18537, Piraeus, Attiki</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>mike.almpertis@gmail.com</td>
    </tr>
    <tr>
      <th>Mobile Phone:</th>
      <td>+30 6940170201</td>
    </tr>
    <tr>
      <th>Landline:</th>
      <td>+30 210 4532897</td>
    </tr>
  </table>
  <div class="clearfix card-footer">
    <a href="mailto:mike.almpertis@gmail.com" class="card-link float-left">
      <i class="fas fa-at"></i>
      Send me Email
    </a>
    <a href="https://www.linkedin.com/in/almpertis/" target="_blank" class="card-link float-right">
      <i class="fab fa-linkedin"></i>
      Linked In
    </a>
  </div>
</div>