<div class="container">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark" *ngIf="authService.isAuthenticated()">
    <span class="navbar-brand">Client List</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home
            Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Contact
            Me</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
      </form>
    </div>
  </nav>
  <div style="padding-top: 10px;">
    <router-outlet></router-outlet>
  </div>
</div>