<div [hidden]="edit" class="card">
  <div class="card-body text-center">
    <h5 class="card-title">{{client.name}}</h5>
    <p class="card-text text-muted">Username: {{client.username}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fas fa-at"></i>&nbsp; <a href="mailto:{{client.email}}">{{client.email}}</a></li>
    <li class="list-group-item"><i class="fas fa-map-marker-alt"></i>&nbsp; {{client.address.street}}{{', ' + client.address.suite}}{{', ' + client.address.city}}{{', ' + client.address.zipcode}}</li>
    <li class="list-group-item"><i class="fas fa-phone"></i>&nbsp; {{client.phone}}</li>
    <li class="list-group-item"><i class="fab fa-chrome"></i>&nbsp; <a href="{{'//' + client.website}}" target="_blank">{{client.website}}</a></li>
    <li class="list-group-item"><i class="fas fa-building"></i>&nbsp; {{client.company}}</li>
  </ul>
  <div class="clearfix card-footer">
      <button type="button" class="btn btn-danger float-left" (click)="onDeleteClient(client.id)">Delete</button>
      <button type="button" class="btn btn-success float-right" (click)="edit = !edit">Edit</button>
    </div>
</div>
<div [hidden]="!edit">
  <hr>
    <h4>Update User Data</h4>
    <form (ngSubmit)="onUpdateClinet(f)" #f="ngForm">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Full Name" id="name" name="name" ngModel="{{client.name}}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" id="username" name="username" ngModel="{{client.username}}">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" id="email" name="email" ngModel="{{client.email}}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Street" id="street" name="street" ngModel="{{client.address.street}}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Suite" id="suite" name="suite" ngModel="{{client.address.suite}}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="City" id="city" name="city" ngModel="{{client.address.city}}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Zipcode" id="zipcode" name="zipcode" ngModel="{{client.address.zipcode}}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Phone" id="phone" name="phone" ngModel="{{client.phone}}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Website" id="website" name="website" ngModel="{{client.website}}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Company" id="company" name="company" ngModel="{{client.company}}">
      </div>
      <div class="clearfix card-footer">
        <button class="btn btn-danger float-left" type="button" (click)="onEditCancel(f)">Cancel</button>
        <button type="submit" class="btn btn-success float-right">Save</button>
      </div>
    </form>
  </div>